/* AIXO S'APLICA A TOT */
@font-face {
	font-family: "Helvetica";
    src: url('Helvetica.otf');
}

.root{
	-fx-font-family: "Helvetica";
}

/****************************************
 ******* Aqui comencen els menus ********
 ****************************************/

.menu .label {
      /*-fx-background-color:#2C2424;*/
      -fx-text-fill: #ffffff;
      /*-fx-border-width:2;*/
    }
.menu-item {
	-fx-background-color: #2C2424;
	-fx-border-color: #2C2424;
}

.menu-item:hover {
	-fx-background-color: #AC130D;
}

.context-menu {
	-fx-background-color: #2C2424;
}


/****************************************
 ***** Aqui comenca les tableviews ******
 ****************************************/

.table-view{
   -fx-background-color: transparent;
   -fx-table-cell-border-color: transparent;
}

/* Canvia el color de l'interior de la cela */
.table-view .table-cell{
    -fx-text-fill: #2C2424;
}

/* Canvia el color de les capçaleres de columna */
.table-view .column-header-background .label{
    -fx-text-fill: white;
}

/* Posa el color en la capçalera de la columna */
.table-view .column-header {
    -fx-background-color: #2C2424;
}

/* Quan selecciona una fila */
.table-row-cell:selected {
    -fx-background-color: #AC130D; /* Posa el fons a roig fosc */
    -fx-table-cell-border-color: transparent; /* Lleva la barra vertical */
}

/* Per a fer desapareixer la barra del splitpane */
.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-background-color: transparent;
}