/* 
 * AIXO S'APLICA A TOT 
 * Paleta de colors Kopie von Aspirin C: 
 * Blau fosc: #225378
 * Blau: 1595A3
 * Blau cel: ACF0F2
 * Blanc trencat: F2FFE3
 * Taronja: EB7F00
 */
@font-face {
	/*font-family: "Helvetica";*/
    src: url('Helvetica.otf');
}

.root{
	-fx-font-family: "Helvetica";
	/*-fx-shadow-highlight-color: #28EC12;*/
	-fx-accent: #AC130D; /* En les tableviews posa quan no esta seleccionat el color roig */
	/*-fx-focus-color: #010D00;  Quan selecciones algo, la voreta es quedara gris */
}

/*
 * BUTTONS
 */
 
 .button {
	/*-fx-base: #012800;*/
    -fx-background-color: white, white, white, #A4A4A4;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;	
}

.button:hover {
    -fx-background-color: white, white, white, #BBBBBB;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
}

.button:focused {
    -fx-background-color: white, white, white, #BBBBBB;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
}

/****************************************
 ******* Aqui comencen els menus ********
 ****************************************/

.menu .label {
      /*-fx-background-color:#2C2424;*/
      -fx-text-fill: #D9D7C5;
      /*-fx-border-width:2;*/
    }
.menu-item {
	-fx-background-color: #2C2424; /* Negre - gris */
	-fx-border-color: #2C2424;
}

.menu-item:focused {
	-fx-background-color: #878787;
}

.menu-item:hover {
	-fx-background-color: #AC130D;
}

.context-menu {
	-fx-background-color: #2C2424;
}

.text-field {
	-fx-background-color: #A4A4A4, white;
}

.text-field:focused {
	-fx-background-color: #BBBBBB, white;
}

.text-field:hover {
	-fx-background-color: #BBBBBB, white;
}

.text-area {
	-fx-background-color: #A4A4A4, white;
}

.text-area:focused {
	-fx-background-color: #BBBBBB, white;
}

.text-area:hover {
	-fx-background-color: #BBBBBB, white;
}

#destinataris {
	-fx-background-color: #A54039;
	-fx-text-fill: #FFFFFF;
}

#destinataris .scroll-pane {
    -fx-background-color: transparent;
}

#destinataris .scroll-pane .viewport{
    -fx-background-color: transparent;
}

#destinataris .scroll-pane .content{
    -fx-background-color: transparent;
}

/*
 * RADIOBUTTON
 */

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 6px;
}

/*
 * TABLEVIEW
 */

.table-view{
   -fx-background-color: transparent;
   -fx-table-cell-border-color: transparent;
}

/* Canvia el color de l'interior de la cela */
.table-view .table-cell{
    -fx-text-fill: #2C2424;
}

/* Canvia el color de les capçaleres de columna */
.table-view .column-header-background .label{
    -fx-text-fill: #D9D7C5;
}

.table-view .filler {
	-fx-background-color: #2C2424;
}

/* Posa el color en la capçalera de la columna */
.table-view .column-header {
    -fx-background-color: #2C2424;
}

/* Quan selecciona una fila */
.table-row-cell:selected {
    -fx-background-color: #AC130D; /* Posa el fons a roig fosc */
    -fx-table-cell-border-color: transparent; /* Lleva la barra vertical */
}

/* Lleva el marge al splitpane. Segueix quedant 1px però s'arregla posant 
 * el marge de tableview en -1
 */
.split-pane {
	-fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/* Per a fer desapareixer la barra del splitpane */
.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-background-color: transparent;
}

/*
 * Per als progress bar, canviar color...
 */
 .progress-bar {
 	-fx-background-color: #A4A4A4;
 	-fx-accent: #AC130D;
 }